<form action='/waters' method="post"> 
<h3>Enter New Watering Requirements</h3> </br>
<h4>Content: </h4> 
  Name: <input type="text" name="name"><br>
  Winter Watering Schedule: <input type="text" name="winter"><br>
  Summer Watering Schedule: <input type="text" name="summer"><br>
  Soil Moisture: <input type="text" name="soil"><br>
  Humitidy Levels: <input type="text" name="humidity"><br>
  <input type = "hidden" value = "<%=@plant.id%>" name = "plant_id">
  <input type="submit" id="submit">
</form>

