<!doctype html>
<html>
  <head>
    <h1>Welcome, <%= @user.username%>!</h1>
  </head>
  <body>
    <p> What would you like to do?
    <div class="container"> 
      <a href="/users/<%=@user.id%>">View all of your plants</a> </br>
      <a href="/plants/new">Add a new plant</a> </br>
      <a href="/plants"> See all user's plants</a> </br>
    </div>


  </body>
</html>
