<h3>Sign Up</h3>
<%if @errors != nil%>
  <% @errors.each do |message| %> 
    Sorry, <%=message %>. Please try again. </br>
    <%end%>
  <%end%>
  </br>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="email" name="email" placeholder="Email:">
  <input type="submit" value="Sign Up">
</form>

