<h1> Browse All Users Plants! </h1>

<% if @plants != [] %>

<% @plants.each do |plant| %>
        <h3> <a href="/plants/<%=plant.id%>"> <%= plant.name %><h3> </a> 
    <%end%>
   
<% else %>
    <p>No current plants <a href="/plants/new"> </p> </br>
<%end%>
<h4><a href="/plants/new"> Create a new plant </a> </h4>
<h4><a href="/home"> Home</a> </h4></br>



