<form action='/plants' method="post"> 
<h3>Enter new plant information</h3> </br>
Content:
  <input type="text" name="name"><br>
  <input type="text" name="light"><br>
  <input type="text" name="notes"><br>
  <input type="submit" id="submit">

</form>

