<h1> <%= @plant.name %> Information </h1>

<ul>
    <li><h3> Name: <%= plant.name %><h3> </li>
    <li><h3> Light: <%= plant.light%><h3> </li>
    <li><h3> Notes: <%= plant.notes %><h3> </li>
    </ul>

<h4><a href="/plant/new"> Create a new plant </a> </h4>
<h4><a href="/home"> Home</a> </h4></br>



