<!doctype html>
<html>
  <head>
    <h1>Welcome, <%= @user.username%>!</h1>
  </head>
  <body>
    <p> What would you like to do?
    <div class="container"> 
      <a href="/user/#{@user.id}">View all of your plants</a> </br>
      <a href="/plant/new">Add a new plant</a> 
    </div>


  </body>
</html>
