<!doctype html>
<html>
  <head>
    <h1>Welcome to Plant Tracker!</h1>
  </head>
  <body>
    <p> Plant tracker is a tool to help you easily track all of your plants and their care needs. 
    <div class="container">
      <p> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to get started.
    </div>


  </body>
</html>
